@import 'variables';
@import 'mixins';

.fieldsLayoutContainer {
    min-height: 400px;
    min-width: 600px;
    max-height: 600px;
    max-width: 100%;
    overflow: auto;
    padding: $padding-8;
    border: 2px solid $border-color;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
    margin-bottom: 0.8rem;
}

.actionBtnsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.8rem;
}

.createFieldBtn {
    background-color: $primary-color;
    border: 1px solid $border-color;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    padding: $padding-12;
    border-radius: 4px;
    cursor: pointer;
    color: white;

    &>svg {
        @include icon($background-color, 1.4rem, 1.4rem)
    }

    &:hover {
        opacity: 0.9;
    }
}

.saveBtn {
    @extend .createFieldBtn;
    background-color: $background-color;
    color: $primary-color;
    border: 1px solid $primary-color;

    &:hover {
        opacity: 0.9;
    }
}

.emptyData {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    flex: 1;
    background-color: $background-color-dark;
}