@import 'mixins';
@import 'variables';

.btnContainer {
    border: none;
    height: 1rem;
    width: 2.4rem;
    border-radius: 1000px;
    background-color: $border-color;
    cursor: pointer;
    transition: background-color 0.1s ease;
    display: flex;
    align-items: center;

    &>span {
        display: block;
        position: relative;
        height: 1.4rem;
        width: 1.4rem;
        border-radius: 50%;
        background-color: $text-secondary-color;
        transform: translate(0);
        transition: transform 0.1s ease;
    }
}

.btnContainerActive {
    background-color: $primary-color;

    &>span {
        transform: translate(1rem);
        background-color: $text-primary-color;
    }
}